body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: lightsteelblue;
    font-family: cursive;
}

.container{
    text-align: center;
}

.progress-container{
    width: 700px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.progress-bar-back{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: lightgray;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.progress-bar-front{
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: green;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s linear width;
}

.step{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    border: 4px solid lightgray;
    color: lightgray;
}

.step.checked{
    color: green;
    border-color: green;
    transition: all .4s linear;
    transition-delay: .3s;
}

.step.checked small{
    position: absolute;
    bottom: -20px;
}

.step.final small{
    position: absolute;
    bottom: -20px;
}

.btn{
    background-color: slateblue;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    margin: 30px 10px 0;
    cursor: pointer;
    box-shadow: 0 3px 8px black;
}

.btn:hover{
    opacity: .9;
}

.btn:active{
    transform: scale(.97);
}

.btn:disabled{
    background-color: lightgray;
}

@media (max-width: 500px) {
    .progress-container{
        width: 90vw;
    }
}